.ui-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

/* 📏 Container Sizes */

.ui-container--sm {
  max-width: 640px;
}

.ui-container--md {
  max-width: 768px;
}

.ui-container--lg {
  max-width: 1024px;
}

.ui-container--xl {
  max-width: 1280px;
}

/* 📱 Larger screens */

@media (min-width: 768px) {
  .ui-container {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }
}
